.git
.github
.env
.env.*
!.env.example
vendor
node_modules
tests
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
.phpunit.cache
.phpunit.result.cache
*.log
.idea
.vscode
